# Database
*.db
*.db-wal
*.db-shm
*.db.backup

# Dipendenze e Cache
node_modules/
.npm/
.cache/

# Log e File di Runtime
*.log
.pm2/
*.pid

# Segreti e Chiavi (MAI CARICARE)
.env
.ssh/
.bash_history
.sqlite_history

# Backup e file inutili
*.tar.gz
*.backup
nginx.conf
